#nav-bar{
    background-color: #00a087;
    height: 80px;
    color: #e8fdff;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%
}

#nav-bar .header{
    float: left; 
    line-height: 80px;
    margin-left: 10px;  
    font-size: 200%;
}
#nav-bar .logo{  
    float: left;
    height: 80px;
    width: 80px;
}