.container {
    background-color: lightgrey;
    border-radius: 10px;
}
textarea {
    width: 95%;
    padding-left: 5px;
}

form {
    padding-left: 20px;
}
input {    
    padding-left: 5%px;
}

hr {
    width: 90%;
}
h2{
    position: relative;
    padding-left: 20px;
    top: 10px;
}
.counter {

    float: right;
    padding-right: 5%;
    color: black;
}
.counter-over{

    color: red;
}
